# Altium ----------------------------------------

M_PCT_2/Project*/*
M_PCT_2/History/*
M_PCT_2/__Previews/*

# PSOC Creator ----------------------------------------

# ignore PSoC Creator workspaces
*.cywrk

# folders generated after build (any PSoC series)
*.cydsn/Cortex*/*
*.cydsn/codegentemp/*
*.cydsn/Generated_Source/*
*.cydsn/Export/*

# files generated after build
*.cycdx
*.cyfit
*.rpt
*.log

# PSoC 6 specific files
cy8c6xx7*
cy_ipc_config*
system_psoc63*
*.cydsn/iar/*
*.cydsn/mdk/*
*.cydsn/armgcc/*

# OneDrive
*cyprj.*
*cywrk.*