# Altium ----------------------------------------

M_PCT_2/Project*/*
M_PCT_2/History/*
M_PCT_2/__Previews/*

# PSOC Creator ----------------------------------------

# ignore PSoC Creator workspaces
*.cywrk

# folders generated after build (any PSoC series)
Manipura*/Cortex*/*
Manipura*/codegentemp/*
Manipura*/Generated_Source/*
Manipura*/Export/*

# files generated after build
*.cycdx
*.cyfit
*.rpt
*.log

# PSoC 6 specific files
cy8c6xx7*
cy_ipc_config*
system_psoc63*
Manipura_USB_I2C_Slave_Firmware.cydsn/iar/*
Manipura_USB_I2C_Slave_Firmware.cydsn/mdk/*
Manipura_USB_I2C_Slave_Firmware.cydsn/armgcc/*

# OneDrive
*cyprj.*
*cywrk.*